@model Alliant.Domain.ChildMenu
@{
    ViewBag.Title = "Delete Create";
}
<div class="content-body">
    <section class="horizontal-grid" id="horizontal-grid">
        @if (Model == null)
        {
            @Html.Partial("_NotFound")
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"><i class="la la-times"></i> Delete ChildMenus</h4>
                            <a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="Name">Name</label>
                                        @Html.Hidden("Id", Model.SubMenuID, new { @class = "form-control" })
                                        @Html.TextBox("linkText", Model.LinkText, new { @class = "form-control", @disabled = "" })
                                        @Html.TextBox("Description", Model.Description, new { @class = "form-control", @disabled = "" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="text-left">
                                        <button type="button" class="btn btn-primary" onclick="@Html.AjaxCall("this",Url.Action("DeletePost","ChildMenu",new { area=Html.AreaUserManagement()}),"POST",pReturnFunction:"function(data){$('#ChildMenuGrid').data('kendoGrid').dataSource.read();$('#ChildMenuForm').html('');}")">Save <i class="ft-save position-right"></i></button>
                                        <button type="button" class="btn btn-danger jsRemoveForm" onclick="$('#ChildMenuForm').html('');">Cancel <i class="la la-times"></i></button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>

